In [13]:
# Import the dependencies
import pandas as pd

import matplotlib.pyplot as plt

import numpy as np

In [22]:
# Create a set of random latitude and longitude combinations

lats = np.random.uniform(low = -90, high = 90, size = 500)

lngs = np.random.uniform(low = -180, high = 180, size = 500)

lat_lngs = zip(lats, lngs)

lat_lngs

In [23]:
# Add the latitudes and longitudes to a list

coordinates = list(lat_lngs)

In [24]:
from citipy import citipy

In [25]:
# Create a list for holding the cities.
cities = []

# Identify the nearest city for each latitude and longitude combination.
for coordinate in coordinates:
    city = citipy.nearest_city(coordinate[0], coordinate[1]).city_name

    # If the city is unique, then we will add it to the cities list.
    if city not in cities:
        cities.append(city)
        
# Print the city count to confirm sufficient count.
len(cities)

289

In [26]:
# Import requests library
import requests 

# Import weather api
from config import weather_api_key

In [27]:
# Starting URL for Weather Map API Call.
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

In [28]:
# Import the time library and the datetime module from the datetime library
import time

from datetime import datetime

In [29]:
# Create an empty list to hold the weather data
city_data = []

# Print the beginning of the logging.
print("Beginning Data Retrieval      ")
print("------------------------------")

# Create counters
record_count = 1
set_count = 1

# Loop through all the cities in the list.
for i, city in enumerate(cities):

    # Group cities in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
        time.sleep(60)

    # Create endpoint URL with each city.
    city_url = url + "&q=" + city.replace(" ","+")

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {city}")
    # Add 1 to the record count.
    record_count += 1
    
# Run an API request for each of the cities.
    try:
        # Parse the JSON and retrieve data.
        city_weather = requests.get(city_url).json()
        # Parse out the needed data.
        city_lat = city_weather["coord"]["lat"]
        city_lng = city_weather["coord"]["lon"]
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        city_clouds = city_weather["clouds"]["all"]
        city_wind = city_weather["wind"]["speed"]
        city_country = city_weather["sys"]["country"]
        # Convert the date to ISO standard.
        city_date = datetime.utcfromtimestamp(city_weather["dt"]).strftime('%Y-%m-%d %H:%M:%S')
        # Append the city information into city_data list.
        city_data.append({"City": city.title(),
                          "Lat": city_lat,
                          "Lng": city_lng,
                          "Max Temp": city_max_temp,
                          "Humidity": city_humidity,
                          "Cloudiness": city_clouds,
                          "Wind Speed": city_wind,
                          "Country": city_country,
                          "Date": city_date})

# If an error is experienced, skip the city.
    except:
        print("City not found. Skipping...")
        pass

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Beginning Data Retrieval
------------------------------
Processing Record 1 of Set 1 | cape town
Processing Record 2 of Set 1 | rikitea
Processing Record 3 of Set 1 | andilamena
Processing Record 4 of Set 1 | ushuaia
Processing Record 5 of Set 1 | ribeira grande
Processing Record 6 of Set 1 | tasiilaq
Processing Record 7 of Set 1 | nome
Processing Record 8 of Set 1 | tautira
Processing Record 9 of Set 1 | atuona
Processing Record 10 of Set 1 | hobart
Processing Record 11 of Set 1 | avarua
Processing Record 12 of Set 1 | mataura
Processing Record 13 of Set 1 | gannan
Processing Record 14 of Set 1 | makakilo city
Processing Record 15 of Set 1 | caucaia
Processing Record 16 of Set 1 | jamestown
Processing Record 17 of Set 1 | sao joao da barra
Processing Record 18 of Set 1 | batagay-alyta
Processing Record 19 of Set 1 | ballina
Processing Record 20 of Set 1 | parati
Processing Record 21 of Set 1 | chagda
City not found. Skipping...
Processing Record 22 of Set 1 | albany
Processing Record 23 of Set 1 | bluff
Processing Record 24 of Set 1 | saint-philippe
Processing Record 25 of Set 1 | klaksvik
Processing Record 26 of Set 1 | parabel
Processing Record 27 of Set 1 | busselton
Processing Record 28 of Set 1 | coihaique
Processing Record 29 of Set 1 | severo-kurilsk
Processing Record 30 of Set 1 | oktyabrskiy
Processing Record 31 of Set 1 | alakurtti
Processing Record 32 of Set 1 | illoqqortoormiut
City not found. Skipping...
Processing Record 33 of Set 1 | nehe
Processing Record 34 of Set 1 | sabzevar
Processing Record 35 of Set 1 | kapaa
Processing Record 36 of Set 1 | vaitupu
City not found. Skipping...
Processing Record 37 of Set 1 | bambous virieux
Processing Record 38 of Set 1 | barranca
Processing Record 39 of Set 1 | qaanaaq
Processing Record 40 of Set 1 | yellowknife
Processing Record 41 of Set 1 | bredasdorp
Processing Record 42 of Set 1 | khilok
Processing Record 43 of Set 1 | tigil
Processing Record 44 of Set 1 | arman
Processing Record 45 of Set 1 | najran
Processing Record 46 of Set 1 | ovsyanka
Processing Record 47 of Set 1 | thompson
Processing Record 48 of Set 1 | vaini
Processing Record 49 of Set 1 | new norfolk
Processing Record 50 of Set 1 | saint anthony
Processing Record 1 of Set 2 | nikolskoye
Processing Record 2 of Set 2 | attawapiskat
City not found. Skipping...
Processing Record 3 of Set 2 | kavieng
Processing Record 4 of Set 2 | saint-pierre
Processing Record 5 of Set 2 | bay roberts
Processing Record 6 of Set 2 | georgetown
Processing Record 7 of Set 2 | punta arenas
Processing Record 8 of Set 2 | barrow
Processing Record 9 of Set 2 | grindavik
Processing Record 10 of Set 2 | oriximina
Processing Record 11 of Set 2 | saskylakh
Processing Record 12 of Set 2 | zhigansk
Processing Record 13 of Set 2 | comodoro rivadavia
Processing Record 14 of Set 2 | santa rosa
Processing Record 15 of Set 2 | triesen
Processing Record 16 of Set 2 | kaitangata
Processing Record 17 of Set 2 | taolanaro
City not found. Skipping...
Processing Record 18 of Set 2 | simoes
Processing Record 19 of Set 2 | san juan
Processing Record 20 of Set 2 | san patricio
Processing Record 21 of Set 2 | cabo san lucas
Processing Record 22 of Set 2 | taunggyi
Processing Record 23 of Set 2 | mahebourg
Processing Record 24 of Set 2 | khasan
Processing Record 25 of Set 2 | zemio
Processing Record 26 of Set 2 | nouadhibou
Processing Record 27 of Set 2 | tibati
Processing Record 28 of Set 2 | cape coast
Processing Record 29 of Set 2 | cherskiy
Processing Record 30 of Set 2 | taranagar
Processing Record 31 of Set 2 | smirnykh
Processing Record 32 of Set 2 | gimli
Processing Record 33 of Set 2 | asyut
Processing Record 34 of Set 2 | kruisfontein
Processing Record 35 of Set 2 | nizhneyansk
City not found. Skipping...
Processing Record 36 of Set 2 | conde
Processing Record 37 of Set 2 | taucha
Processing Record 38 of Set 2 | traverse city
Processing Record 39 of Set 2 | umm lajj
Processing Record 40 of Set 2 | tadine
Processing Record 41 of Set 2 | barentsburg
City not found. Skipping...
Processing Record 42 of Set 2 | lorengau
Processing Record 43 of Set 2 | saint-joseph
Processing Record 44 of Set 2 | martapura
Processing Record 45 of Set 2 | bugene
Processing Record 46 of Set 2 | geraldton
Processing Record 47 of Set 2 | olinda
Processing Record 48 of Set 2 | puerto ayora
Processing Record 49 of Set 2 | sao filipe
Processing Record 50 of Set 2 | kirensk
Processing Record 1 of Set 3 | butaritari
Processing Record 2 of Set 3 | port-gentil
Processing Record 3 of Set 3 | kodiak
Processing Record 4 of Set 3 | grand gaube
Processing Record 5 of Set 3 | sorong
Processing Record 6 of Set 3 | pisco
Processing Record 7 of Set 3 | general roca
Processing Record 8 of Set 3 | niksar
Processing Record 9 of Set 3 | honningsvag
Processing Record 10 of Set 3 | padang
Processing Record 11 of Set 3 | rungata
City not found. Skipping...
Processing Record 12 of Set 3 | ossora
Processing Record 13 of Set 3 | anar darreh
City not found. Skipping...
Processing Record 14 of Set 3 | bereda
Processing Record 15 of Set 3 | olafsvik
Processing Record 16 of Set 3 | moroni
Processing Record 17 of Set 3 | tiksi
Processing Record 18 of Set 3 | fort saint james
Processing Record 19 of Set 3 | esperance
Processing Record 20 of Set 3 | port alfred
Processing Record 21 of Set 3 | tonj
Processing Record 22 of Set 3 | suntar
Processing Record 23 of Set 3 | souillac
Processing Record 24 of Set 3 | mayo
Processing Record 25 of Set 3 | patrocinio
Processing Record 26 of Set 3 | zalantun
Processing Record 27 of Set 3 | kigorobya
Processing Record 28 of Set 3 | santa ana
Processing Record 29 of Set 3 | bellmead
Processing Record 30 of Set 3 | mulanje
Processing Record 31 of Set 3 | victoria
Processing Record 32 of Set 3 | seymchan
Processing Record 33 of Set 3 | cleveland
Processing Record 34 of Set 3 | liptovsky hradok
Processing Record 35 of Set 3 | birao
Processing Record 36 of Set 3 | grand river south east
City not found. Skipping...
Processing Record 37 of Set 3 | kungalv
Processing Record 38 of Set 3 | ulladulla
Processing Record 39 of Set 3 | yatou
Processing Record 40 of Set 3 | kalininsk
Processing Record 41 of Set 3 | santiago
Processing Record 42 of Set 3 | waipawa
Processing Record 43 of Set 3 | chuy
Processing Record 44 of Set 3 | iqaluit
Processing Record 45 of Set 3 | bubaque
Processing Record 46 of Set 3 | syasstroy
Processing Record 47 of Set 3 | hermanus
Processing Record 48 of Set 3 | khatanga
Processing Record 49 of Set 3 | kulpahar
Processing Record 50 of Set 3 | terra nova
Processing Record 1 of Set 4 | douentza
Processing Record 2 of Set 4 | burlington
Processing Record 3 of Set 4 | sanchor
Processing Record 4 of Set 4 | airai
Processing Record 5 of Set 4 | byron bay
Processing Record 6 of Set 4 | mount isa
Processing Record 7 of Set 4 | saint george
Processing Record 8 of Set 4 | paita
Processing Record 9 of Set 4 | krasnoselkup
Processing Record 10 of Set 4 | naze
Processing Record 11 of Set 4 | pevek
Processing Record 12 of Set 4 | tuktoyaktuk
Processing Record 13 of Set 4 | tulsipur
Processing Record 14 of Set 4 | peremyshl
Processing Record 15 of Set 4 | kahului
Processing Record 16 of Set 4 | moron
Processing Record 17 of Set 4 | shahr-e babak
Processing Record 18 of Set 4 | lata
Processing Record 19 of Set 4 | norman wells
Processing Record 20 of Set 4 | cockburn town
Processing Record 21 of Set 4 | belushya guba
City not found. Skipping...
Processing Record 22 of Set 4 | araouane
Processing Record 23 of Set 4 | hobyo
Processing Record 24 of Set 4 | ojinaga
Processing Record 25 of Set 4 | chimbote
Processing Record 26 of Set 4 | kenai
Processing Record 27 of Set 4 | ahipara
Processing Record 28 of Set 4 | hauterive
Processing Record 29 of Set 4 | upernavik
Processing Record 30 of Set 4 | hofn
Processing Record 31 of Set 4 | katsuura
Processing Record 32 of Set 4 | karamea
City not found. Skipping...
Processing Record 33 of Set 4 | narsaq
Processing Record 34 of Set 4 | itaituba
Processing Record 35 of Set 4 | burnie
Processing Record 36 of Set 4 | soanierana ivongo
Processing Record 37 of Set 4 | taltal
Processing Record 38 of Set 4 | chernyshevskiy
Processing Record 39 of Set 4 | ilulissat

Processing Record 40 of Set 4 | nyurba
Processing Record 41 of Set 4 | itarema
Processing Record 42 of Set 4 | hasaki
Processing Record 43 of Set 4 | ponta do sol
Processing Record 44 of Set 4 | paramonga
Processing Record 45 of Set 4 | ngunguru
Processing Record 46 of Set 4 | wanaka
Processing Record 47 of Set 4 | puerto ayacucho
Processing Record 48 of Set 4 | aflu
City not found. Skipping...
Processing Record 49 of Set 4 | tehri
Processing Record 50 of Set 4 | faanui
Processing Record 1 of Set 5 | cubuk
Processing Record 2 of Set 5 | marawi
Processing Record 3 of Set 5 | mecca
Processing Record 4 of Set 5 | aklavik
Processing Record 5 of Set 5 | margaritas
Processing Record 6 of Set 5 | salalah
Processing Record 7 of Set 5 | pingliang
Processing Record 8 of Set 5 | talaya
Processing Record 9 of Set 5 | komsomolskiy
Processing Record 10 of Set 5 | alexandria
Processing Record 11 of Set 5 | mount gambier
Processing Record 12 of Set 5 | batagay
Processing Record 13 of Set 5 | chokurdakh
Processing Record 14 of Set 5 | san francisco
Processing Record 15 of Set 5 | itoman
Processing Record 16 of Set 5 | laguna
Processing Record 17 of Set 5 | kampot
Processing Record 18 of Set 5 | almeirim
Processing Record 19 of Set 5 | bethel
Processing Record 20 of Set 5 | araceli
Processing Record 21 of Set 5 | port elizabeth
Processing Record 22 of Set 5 | alugan
Processing Record 23 of Set 5 | yangcun
Processing Record 24 of Set 5 | arroio grande
Processing Record 25 of Set 5 | carnarvon
Processing Record 26 of Set 5 | portland
Processing Record 27 of Set 5 | vila velha
Processing Record 28 of Set 5 | torbay
Processing Record 29 of Set 5 | hithadhoo
Processing Record 30 of Set 5 | suba
Processing Record 31 of Set 5 | pilikwe
Processing Record 32 of Set 5 | hilo
Processing Record 33 of Set 5 | praia da vitoria
Processing Record 34 of Set 5 | conil
Processing Record 35 of Set 5 | mao
Processing Record 36 of Set 5 | tuatapere
Processing Record 37 of Set 5 | mar del plata
Processing Record 38 of Set 5 | rio brilhante
Processing Record 39 of Set 5 | alghero
Processing Record 40 of Set 5 | lompoc
Processing Record 41 of Set 5 | aldergrove
Processing Record 42 of Set 5 | toftir
City not found. Skipping...
Processing Record 43 of Set 5 | quata
Processing Record 44 of Set 5 | troitskoye
Processing Record 45 of Set 5 | ailigandi
Processing Record 46 of Set 5 | daru
Processing Record 47 of Set 5 | pokosnoye
Processing Record 48 of Set 5 | shimoda
Processing Record 49 of Set 5 | potiskum
Processing Record 50 of Set 5 | viedma
Processing Record 1 of Set 6 | suzu
City not found. Skipping...
Processing Record 2 of Set 6 | akalkot
Processing Record 3 of Set 6 | aksu
Processing Record 4 of Set 6 | berbera
Processing Record 5 of Set 6 | valle de allende
Processing Record 6 of Set 6 | shannon
Processing Record 7 of Set 6 | paucartambo
City not found. Skipping...
Processing Record 8 of Set 6 | buin
Processing Record 9 of Set 6 | coahuayana
Processing Record 10 of Set 6 | santa lucia
Processing Record 11 of Set 6 | muroto
Processing Record 12 of Set 6 | novyy urengoy
Processing Record 13 of Set 6 | ketchikan
Processing Record 14 of Set 6 | cam pha
City not found. Skipping...
Processing Record 15 of Set 6 | castro
Processing Record 16 of Set 6 | port hedland
Processing Record 17 of Set 6 | ajdabiya
Processing Record 18 of Set 6 | rocha
Processing Record 19 of Set 6 | ust-kulom
Processing Record 20 of Set 6 | ola
Processing Record 21 of Set 6 | songea
Processing Record 22 of Set 6 | yerbogachen
Processing Record 23 of Set 6 | khani
Processing Record 24 of Set 6 | mackay
Processing Record 25 of Set 6 | platanos
Processing Record 26 of Set 6 | mahadday weyne
City not found. Skipping...
Processing Record 27 of Set 6 | cruzeiro do sul
Processing Record 28 of Set 6 | lebu
Processing Record 29 of Set 6 | sentyabrskiy
City not found. Skipping...
Processing Record 30 of Set 6 | kieta
Processing Record 31 of Set 6 | mehamn
Processing Record 32 of Set 6 | longyearbyen
Processing Record 33 of Set 6 | dikson
Processing Record 34 of Set 6 | carlsbad
Processing Record 35 of Set 6 | palmer
Processing Record 36 of Set 6 | prince rupert
Processing Record 37 of Set 6 | barbar
City not found. Skipping...
Processing Record 38 of Set 6 | cidreira
Processing Record 39 of Set 6 | broome
-----------------------------
Data Retrieval Complete
-----------------------------

In [54]:
# Convert the array of dictionaries to a Pandas DataFrame.
city_data_df = pd.DataFrame(city_data)
city_data_df.head(10)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Cape Town,-33.9258,18.4232,61.92,77,0,9.22,ZA,2022-04-27 19:19:45
1,Rikitea,-23.1203,-134.9692,77.34,72,8,25.21,PF,2022-04-27 19:24:43
2,Andilamena,-17.0167,48.5833,65.17,95,0,1.90,MG,2022-04-27 19:29:42
3,Ushuaia,-54.8000,-68.3000,37.06,70,40,24.16,AR,2022-04-27 19:24:51
4,Ribeira Grande,38.5167,-28.7000,64.80,88,75,23.02,PT,2022-04-27 19:22:26
5,Tasiilaq,65.6145,-37.6368,37.56,78,98,5.21,GL,2022-04-27 19:28:02
6,Nome,64.5011,-165.4064,37.17,85,0,0.00,US,2022-04-27 19:29:43
7,Tautira,-17.7333,-149.1500,79.81,78,89,24.16,PF,2022-04-27 19:29:43
8,Atuona,-9.8000,-139.0333,78.67,77,27,22.50,PF,2022-04-27 19:29:44
9,Hobart,-42.8794,147.3294,57.27,95,40,5.75,AU,2022-04-27 19:29:44

In [55]:
city_data_df = city_data_df[["City", "Country", "Date", "Lat", "Lng", "Max Temp",
                            "Humidity", "Cloudiness", "Wind Speed"]]
city_data_df

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Cape Town,ZA,2022-04-27 19:19:45,-33.9258,18.4232,61.92,77,0,9.22
1,Rikitea,PF,2022-04-27 19:24:43,-23.1203,-134.9692,77.34,72,8,25.21
2,Andilamena,MG,2022-04-27 19:29:42,-17.0167,48.5833,65.17,95,0,1.90
3,Ushuaia,AR,2022-04-27 19:24:51,-54.8000,-68.3000,37.06,70,40,24.16
4,Ribeira Grande,PT,2022-04-27 19:22:26,38.5167,-28.7000,64.80,88,75,23.02
...,...,...,...,...,...,...,...,...,...
264,Carlsbad,US,2022-04-27 19:37:01,33.1581,-117.3506,78.57,64,75,12.66
265,Palmer,US,2022-04-27 19:37:03,42.1584,-72.3287,56.52,40,40,20.71
266,Prince Rupert,CA,2022-04-27 19:35:12,54.3161,-130.3201,46.49,71,100,2.30
267,Cidreira,BR,2022-04-27 19:37:05,-30.1811,-50.2056,79.61,73,10,8.84
268,Broome,US,2022-04-27 19:36:58,42.2506,-75.8330,41.63,65,100,15.01

In [56]:
# Create the output file (CSV).
output_data_file = "weather_data/cities.csv"
# Export the City_Data into a CSV.
city_data_df.to_csv(output_data_file, index_label="City_ID")