In [2]:
# Import the dependencies
import pandas as pd

import gmaps

import requests

# Import the API key
from config import g_key

In [4]:
# Store the CSV you saved created in part one into a dataframe

city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2022-04-27 23:58:58,-23.1203,-134.9692,77.27,68,13,23.67
1,1,Gisborne,NZ,2022-04-27 23:57:19,-38.6533,178.0042,58.64,71,92,6.60
2,2,Khatanga,RU,2022-04-27 23:58:58,71.9667,102.5000,22.14,85,100,15.97
3,3,Aketi,CD,2022-04-27 23:58:58,2.7388,23.7833,70.07,83,60,0.47
4,4,Hami,CN,2022-04-27 23:58:59,42.8000,93.4500,58.82,22,100,12.80

In [5]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [6]:
# Configure gmaps to use my Google API key

gmaps.configure(api_key = g_key)

In [ ]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = [latitude, longitude]

# 2. Assign the weights variable to some values.
temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig